@media screen and (max-width: 768px) and (min-width:560px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 559px) {
    nav {
        padding: 0px 20px;
    }

    menu {
        display: flex;
        flex-direction: column;
    }

    menu li {
        margin-bottom: 10px;
    }

    body header .mainText h1 {
        font-size: 30px;
        margin-top: -20px;
    }

    body .paralax h3 {
        font-size: 20px;
    }
}